<div class="not-found-container">
  <div class="floating-stones">
    <div 
      *ngFor="let stone of stones" 
      class="stone" 
      [class.clicked]="stone.clicked"
      [style.left.%]="stone.x"
      [style.top.%]="stone.y"
      [style.width.px]="stone.size"
      [style.height.px]="stone.size"
      [style.transform]="'rotate(' + stone.rotation + 'deg)'"
      [style.animation-delay]="stone.delay + 's'"
      (click)="onStoneClick(stone)">
    </div>
  </div>

  <div class="content-wrapper">
    <div class="error-code">404</div>
    
    <div class="main-message">
      <h1>Lost in the Spiritual Realm</h1>
      <p class="subtitle">The page you seek has transcended to another dimension</p>
    </div>

    <div class="action-buttons">
      <button mat-raised-button routerLink="/" class="home-btn">
        <mat-icon>home</mat-icon>
        Return to Home
      </button>
    </div>

    <div class="wisdom-quote">
      <mat-icon class="quote-icon">format_quote</mat-icon>
      <p>"Not all who wander are lost, but this page certainly is."</p>
      <span class="quote-author">- Ancient SBS Wisdom</span>
    </div>
  </div>

  <div class="background-pattern"></div>
</div>