name: CI - Lint, Build and Test

on:
    pull_request:
        branches:
            - main
            - master
            - develop
            - feat/*
            - feature/*
            - release/*
            - bbt/release/**/**

concurrency:
    group: ci-${{ github.ref }}
    cancel-in-progress: true

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - name: Git clone the repository
              uses: actions/checkout@v4

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: '20'

            - name: Install Dependencies & Lint
              run: |
                  npm ci
                  npm run lint

    build:
        runs-on: ubuntu-latest
        steps:
            - name: Git clone the repository
              uses: actions/checkout@v4

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: '20'

            - name: Install Dependencies & Build
              run: |
                  npm ci
                  npm run build
              env:
                  NODE_OPTIONS: '--max-old-space-size=6144'
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Git clone the repository
              uses: actions/checkout@v4

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: '20'

            - name: Install Dependencies & Test
              run: |
                  for i in {1..3}; do
                    npm ci && npm run test-headless && break
                    echo "Attempt $i failed, retrying..."
                    sleep 30
                  done
              env:
                  NODE_OPTIONS: '--max-old-space-size=6144'